.accordion {
    
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  
  .panel {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
  }